{%extends 'base.html.twig' %}

{% block title "groups" %}

{% block body%}
    <div class="container mt-4">
        <h2 class="mb-3">Les Membres</h2>

        {% if users is not empty %}
            <ul class="list-group">
                {% for user in users %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ user.Pseudo }}
                        {{ user.Email }}
                        {{ user.lastConnection|date('Y-m-d H:i:s') }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun Membres pour le moment.</p>
        {% endif %}
    </div>
    <form action="{{ path('groups.delete') }}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit"> Suprimmer</button>
    </form>
    <form action="{{ path('groups.quit') }}" method="post">
        <button type="submit"> Quittez</button>
    </form>
{% endblock %}