{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{task.title}}</h1>

        {{ form_start(form, {'attr': {'class': 'form'}}) }}
                {{ form_row(form.Title) }}
                {{ form_row(form.Description) }}
                {{ form_row(form.Color) }}
                {{ form_row(form.Periodicity) }}

                {{ form_row(form.Days)}}
                {{ form_row(form.Difficulty) }}
                {{ form_row(form.save) }}
        {{ form_end(form) }}

        <form action="{{ path('task.delete', {id: task.id}) }}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-sm"> Delete Task </button>
        </form>
    </div>
{% endblock %}