{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Hello {{ name }}! ✅</h1>

    <p>
        <a class="btn btn-primary btn-sm" href="{{ path('task.create') }}"> Create Task </a>
    </p>

    {% for task in tasks %}
    <ul>
        <h3>{{task.title}}</h3>
        <p>{{task.description}}</p>
        <p>{{task.periodicity}}</p>
        {% if habit.periodicity == 'weekly' %}
            <p>Days:
                {% set days = habit.days|split(',') %}
                {% for day in days %}
                    {{ day }}
                {% endfor %}
            </p>
        {% endif %}
        <p>
            <a class="btn btn-primary btn-sm" href="{{ path('task.edit', {id: task.id}) }}"> Edit Task </a> 
            <form action="{{ path('task.validate', {id: task.id}) }}" method="post">
                <input type="hidden">
                <button type="submit" class="btn btn-danger btn-sm"> Validate Task </button>
            </form>
            <form action="{{ path('task.invalidate', {id: task.id}) }}" method="post">
                <input type="hidden">
                <button type="submit" class="btn btn-danger btn-sm"> Invalidate Task </button>
            </form>
        </p>
    </ul>
    {% endfor %}
{% endblock %}
